/* --- Backgrounds --- */


.bg {
	
	&-primary   { background-color: $color-primary; }
	&-secondary { background-color: $color-secondary; }
	&-success   { background-color: $color-success; }
	&-info      { background-color: $color-info; }
	&-warning   { background-color: $color-warning; }
	&-error     { background-color: $color-error; }

}