/* --- Menus --- */


.menu {
	margin: 0;
	padding: 0;

	ul {
		margin: 0;
		padding: 0;
	}

	li {
		list-style-type: none;

		a {
			color: $color-primary;
			display: block;
			padding: $spacing-sm 0;
			text-decoration: none;
			transition: all $time-fast ease-out;
			
		}
	}

	@include breakpoint( medium ) {
		li {
			display: inline-block;
			padding-left: $spacing-sm;
			padding-right: $spacing-sm;

			a { display: block; }
		}
	}

	&.vertical {
		li {
			display: block;
		}
	}

	&.expand {
		li {
			padding-left: 0;
			padding-right: 0;
		}
	}

}