/* --- Z-Index --- */


.z- {

	&0   { z-index: 0; }
	&5   { z-index: 5; }
	&10  { z-index: 10; }
	&20  { z-index: 20; }
	&30  { z-index: 30; }
	&40  { z-index: 40; }
	&50  { z-index: 50; }
	&60  { z-index: 60; }
	&70  { z-index: 70; }
	&80  { z-index: 80; }
	&90  { z-index: 90; }
	&100 { z-index: 100; }
}