#site-header {

	.top-bar {
		text-align: center;

		a {
			color: $color-secondary;
		}
	}

	.search-form {
		padding-top: $spacing-md;
		padding-bottom: $spacing-md;
		text-align: right;

		input {
			border: $border-width-xs solid $color-secondary;
			width: 100%;
		}
		.button {
			border: $border-width-xs solid $color-secondary;
			background-color: $color-secondary;
			color: $white;
			margin-top: $spacing-sm;
			padding: $spacing-sm;
			text-align: center;
			width: 100%;

			&:hover {
				background-color: $color-primary;
				border: $border-width-xs solid $color-primary;
				color:$color-secondary;
			}
		}
	}

	@include breakpoint( medium ) {


		.search-form {
			padding-bottom: 0;
			
			input {
				width: 65%;
			}
			.button {
				margin-top: 0;
				width: 30%;
			}
		}
	}


}