.gallery {

	&-item {
		margin-bottom: $spacing-md;
	}

	a {
		position: relative;
		&:hover {
			.gallery-title {
				transform: translateY(-$spacing-md);
			}
			.gallery-image { 
				transform: scale(1.02);
			}
		}
	}
	
	
	&-title {
		color: $white;
		bottom: $spacing-md;
		font-weight: $global-font-weight-bold;
		left: $spacing-md;
		position: absolute;
		transition: transform $time-normal ease;
	}
	
	&-image {
		transition: transform $time-fast ease-out;
		width: 100%;
	}


}