.menu-button {
	background-color: $color-secondary;
	color: $white;
	display: block;
	font-weight: $global-font-bold;
	padding: $spacing-md;
	position: relative;
	text-decoration: none;

	&::after {
		content: '\f347';
		font-family: dashicons;
		font-size: 1.5rem;
		font-weight: normal;
		position: absolute;
		right: .65em;
		top: .45em;
	}

	&.active {
		background-color: darken($color-secondary, 5%);

		&::after {
			content: '\f343';
		}
	}
}

.main-navigation {
	position: relative;
	z-index: 99;

	.menu {
		display: none;

		a {
			color: $white;
			font-weight: $global-font-bold;
			padding: $spacing-md $spacing-sm;
			text-transform: uppercase;
			transition: none;
		}

		.sub-menu {
			display: none;
		}

		.menu-item-has-children {
			position: relative;

			&::after {
				color: $white;
				content: '\f347';
				font-family: dashicons;
				font-size: 1.5rem;
				font-weight: normal;
				position: absolute;
				right: .65em;
				top: .45em;
			}
			&.active::after {
				content: '\f343';
			}
		}

	}

	.show {
		display: block;

		.sub-menu {
			background-color: $color-secondary;
			min-width: 200px;
			position: absolute;
			left: 0;
			top: 100%;
			z-index: 99;

			li { display: block; }
			a { font-weight: $global-font-weight; }
		}
	}
}

@include breakpoint( medium ) {

	.menu-button { display: none; }

	.main-navigation {

		.menu {

			li { padding: 0; }

			a { 
				padding: $spacing-md;
				transition: all $time-fast ease-out;
				
				&:hover {
					background-color: $color-primary;
					color: $black;
				}
			}

			.menu-item-has-children {
				text-align: left;

				&::after { content: ''; } // remove the arrow on medium up

				> a { // Add the arrow to the a element
					padding-right: $spacing-lg + $spacing-sm;

					&::after {
						color: $white;
						content: '\f347';
						font-family: dashicons;
						font-size: 1.5rem;
						font-weight: normal;
						position: absolute;
						right: .3em;
						top: .45em;
						transition: all $time-fast ease-out;
					}
					&:hover::after {
						color: $color-secondary;
					}
					
				}
				&.active {
					> a {
						// background-color: $color-primary;
						// color: $color-secondary;

						&::after {
							// color: $color-secondary;
							content: '\f343';
						}
					}

					&::after {
						content: '';
					}
				}
			}
			
		}

	}

}