.login h1 a {
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: contain;
          background-size: contain;
  display: block;
  width: 100%;
}

.wp-core-ui .button-primary {
  background: #125EAA;
  border-color: #105193;
  -webkit-box-shadow: 0 1px 0 #0d457c;
          box-shadow: 0 1px 0 #0d457c;
  color: #f9f9f9;
  text-decoration: none;
  text-shadow: 0 -1px 1px rgba(26, 26, 26, 0.5);
}

.wp-core-ui .button-primary:hover, .wp-core-ui .button-primary:focus {
  background: #11569c;
  border-color: #0f4c8a;
  -webkit-box-shadow: 0 1px 0 #0d457c;
          box-shadow: 0 1px 0 #0d457c;
}
