.wp-templates {
    background: rgba($danger, .75);
    border: none;
    color: white;
    display: block;
    padding: 2em;

    position: fixed;
    top: 0;
    // bottom: 0;
    right: 0;
    z-index: 999;

    span {
        display: block;
    }
}

.wp-scripts {
    background: rgba($info, .75);
    border: none;
    color: white;
    display: block;
    padding: 2em;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;

    span {
        display: block;
    }
}
