/*!

  Theme: WP Starter Theme
  Author: Ben Lopez
  Notes: 

*/

/* ============================================== 
	SETTINGS
	Frmework, Mixins, Variables, etc...
*/

// Custom Mixins
@import 'settings/mixins';

// Boostrap
@import 'settings/framework/bootstrap';


/* ============================================== 
	MODULES
	Node modules. Managed with Yarn.
*/

// AOS (Animated On Scroll)
@import '../node_modules/aos/src/sass/aos';


/* ============================================== 
	THEME
	Partials, Layouts, Templates, etc...
*/

// Sitewide Styles
@import 'theme';


// Components
@import 
	'components/resets/jumbotron',
	'components/background',
	'components/branding',
	'components/fx',
	'components/vendor/headroom',
	'components/vendor/mega-menu';

// Partials
@import
	'partials/header',
	'partials/footer',
	'partials/sidebar';

// Layouts
@import 
	'layouts/404',
	'layouts/page',
	'layouts/archive',
	'layouts/blog',
	'layouts/search',
	'layouts/single';

// Templates
@import 'templates/template-name';

// Pages
@import 'pages/home';

/* ============================================== 
	TESTS
*/
// @import 'tests';