/*!

  Theme:WP Starter
  Author: Ben Lopez
  Notes: 

*/
@charset 'utf-8';

/* ============================================== 
	SETTINGS & TOOLS 
	Vars, mixins, etc...
*/
@import './settings/vars';
@import './settings/util';


/* ============================================== 
	VENDOR
	3rd-party libraries, etc...
*/
// Bourbon Neat Grid
@import '../node_modules/bourbon-neat/core/neat';
// Normalize.css
@import '../node_modules/node-normalize-scss/normalize';
// AOS (Animated On Scroll)
@import '../node_modules/aos/src/sass/aos';
// Owl Carousel 2
@import '../node_modules/owl.carousel/src/scss/owl.carousel.scss';


/* ============================================== 
	ELEMENTS 
	CSS Framework - Change/use as necessary
*/
@import './elements/backgrounds';
@import './elements/base';
@import './elements/forms';
@import './elements/fx';
@import './elements/grid';
@import './elements/margin';
@import './elements/menus';
@import './elements/padding';
@import './elements/position';
@import './elements/type';
@import './elements/z-index';


/* ============================================== 
	THEME 
*/
// Modules
@import './theme/modules/branding';
@import './theme/modules/buttons';
@import './theme/modules/gallery';
@import './theme/modules/navigation';
@import './theme/modules/woo';
@import './theme/modules/vendor/owl-carousel-theme';


// Partials
@import './theme/parts/header';
@import './theme/parts/footer';
@import './theme/parts/sidebar';

// Global
@import './theme/global/404';
@import './theme/global/index';
@import './theme/global/page';
@import './theme/global/archive';
@import './theme/global/blog';
@import './theme/global/search';
@import './theme/global/single';

// Templates
@import './theme/templates/template-name';

// Pages
@import './theme/pages/home';


/* ============================================== 
	TESTS
*/
// @import './tests';