/* --- Base --- */

html {
	background-color: $body-background-color;
	font-size: $global-font-size;
	margin: 0;
	padding: 0;

	@include breakpoint( large ) {
		font-size: $font-size-7 * 1.125;
	}
}

body {
	color: $body-color;
	font-family: $body-font-family;
	font-weight: $body-font-weight;
	line-height: $body-line-height;
	margin: 0;
	padding: 0;

	@include breakpoint( large ) {
		line-height: $body-line-height + .2;
	}
}

* {
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

::selection {
	background-color: $color-primary;
	color: $white;
}


a { color: $color-primary; }

address { font-style: normal; }

button {
	appearance: none;
	background-color: transparent;
	border: none;
}

figure { margin: 0; padding: 0; }

hr {
	border-color: $color-secondary;
	border-style: solid;
	border-width: $global-border-width;
	clear: both;
	margin-top: $spacing-md;
	margin-bottom: $spacing-md;
	display: block;
	width: 100%;
}

img { 
	display: block;

	&.size-full {
		height: auto;
		width: 100%;
	}
}

ins { text-decoration: none; }

p {
	margin: $spacing-sm 0;

	&:last-of-type {
		margin-bottom: 0;
	}
}

table { 
	border-spacing: 0;
	line-height: $body-line-height;
	text-align: left;
	width: 100%;

	th {
		font-weight: normal;
	}

	th, td {
		padding: $spacing-sm;
	}
	td {
		&:nth-of-type(even) {
			background-color: $light-gray;
		}
	}

}

// Extra classes

// Uncomment if needed
// .site-wrap {
// 	overflow: hidden;
// }

.no-js {
    display: none;
}
