/* --- Base --- */

html {
	font-size: $global-font-size;
	margin: 0;
	padding: 0;
}

body {
	color: $global-body-color;
	font-family: $global-body-font-family;
	font-weight: $global-font-weight;
	line-height: $global-line-height;
	margin: 0;
	padding: 0;
}

* {
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

::selection {
	background-color: $color-primary;
}

a {
	color: $color-primary;
}

address { font-style: normal; }

figure { margin: 0; padding: 0; }

img { 
	display: block;

	&.size-full {
		height: auto;
		width: 100%;
	}
}

ins { text-decoration: none; }

p {
	margin: $spacing-sm 0 $spacing-md 0;
	&:last-of-type { 
		margin-bottom: $spacing-sm;
	}
}

table { 
	border-spacing: 0;
	width: 100%;
}
