/* --- Margins --- */

.m- { 
	&0 { margin: $spacing-none; }
	&xs { margin: $spacing-xs; }
	&sm { margin: $spacing-sm; }
	&md { margin: $spacing-md; }
	&lg { margin: $spacing-lg; }
	&xl { margin: $spacing-xl; }
	&xxl { margin: $spacing-xxl; }
	&xxxl { margin: $spacing-xxxl; }

	&v- {
		&0 { margin-top: $spacing-none; margin-bottom: $spacing-none; }
		&xs { margin-top: $spacing-xs; margin-bottom: $spacing-xs; }
		&sm { margin-top: $spacing-sm; margin-bottom: $spacing-sm; }
		&md { margin-top: $spacing-md; margin-bottom: $spacing-md; }
		&lg { margin-top: $spacing-lg; margin-bottom: $spacing-lg; }
		&xl { margin-top: $spacing-xl; margin-bottom: $spacing-xl; }
		&xxl { margin-top: $spacing-xxl; margin-bottom: $spacing-xxl; }
		&xxxl { margin-top: $spacing-xxxl; margin-bottom: $spacing-xxxl; }
	}

	&h- {
		&0 { margin-left: $spacing-none; margin-right: $spacing-none; }
		&xs { margin-left: $spacing-xs; margin-right: $spacing-xs; }
		&sm { margin-left: $spacing-sm; margin-right: $spacing-sm; }
		&md { margin-left: $spacing-md; margin-right: $spacing-md; }
		&lg { margin-left: $spacing-lg; margin-right: $spacing-lg; }
		&xl { margin-left: $spacing-xl; margin-right: $spacing-xl; }
		&xxl { margin-left: $spacing-xxl; margin-right: $spacing-xxl; }
		&xxxl { margin-left: $spacing-xxxl; margin-right: $spacing-xxxl ; }
	}

	&t- {
		&0 { margin-top: $spacing-none; }
		&xs { margin-top: $spacing-xs; }
		&sm { margin-top: $spacing-sm; }
		&md { margin-top: $spacing-md; }
		&lg { margin-top: $spacing-lg; }
		&xl { margin-top: $spacing-xl; }
		&xxl { margin-top: $spacing-xxl; }
		&xxxl { margin-top: $spacing-xxxl; }
	}
	
	&b- {
		&0 { margin-bottom: $spacing-none; }
		&xs { margin-bottom: $spacing-xs; }
		&sm { margin-bottom: $spacing-sm; }
		&md { margin-bottom: $spacing-md; }
		&lg { margin-bottom: $spacing-lg; }
		&xl { margin-bottom: $spacing-xl; }
		&xxl { margin-bottom: $spacing-xxl; }
		&xxxl { margin-bottom: $spacing-xxxl; }
	}
	
	&l- {
		&0 { margin-left: $spacing-none; }
		&xs { margin-left: $spacing-xs; }
		&sm { margin-left: $spacing-sm; }
		&md { margin-left: $spacing-md; }
		&lg { margin-left: $spacing-lg; }
		&xl { margin-left: $spacing-xl; }
		&xxl { margin-left: $spacing-xxl; }
		&xxxl { margin-left: $spacing-xxxl; }
	}
	
	&r- {
		&0 { margin-right: $spacing-none; }
		&xs { margin-right: $spacing-xs; }
		&sm { margin-right: $spacing-sm; }
		&md { margin-right: $spacing-md; }
		&lg { margin-right: $spacing-lg; }
		&xl { margin-right: $spacing-xl; }
		&xxl { margin-right: $spacing-xxl; }
		&xxxl { margin-right: $spacing-xxxl; }
	}

}