/* --- Typography --- */

// Headings
@include headings() {
	font-family: $global-heading-font-family;
	font-weight: $global-heading-font-weight;
	line-height: 1.2;
	margin: 0;
}

h1 { font-size: $font-size-1; letter-spacing: $global-heading-letter-spacing; }
h2 { font-size: $font-size-2; letter-spacing: $global-heading-letter-spacing; }
h3 { font-size: $font-size-3; letter-spacing: $global-heading-letter-spacing; }
h4 { font-size: $font-size-4; letter-spacing: $global-heading-letter-spacing; }
h5 { font-size: $font-size-5; letter-spacing: $global-heading-letter-spacing; }
h6 { font-size: $font-size-6; letter-spacing: $global-heading-letter-spacing; }

@include breakpoint( medium ) {
	h1 { font-size: $font-size-1 * 1.125; letter-spacing: $global-heading-letter-spacing; }
	h2 { font-size: $font-size-2 * 1.125; letter-spacing: $global-heading-letter-spacing; }
	h3 { font-size: $font-size-3 * 1.125; letter-spacing: $global-heading-letter-spacing; }
	h4 { font-size: $font-size-4 * 1.125; letter-spacing: $global-heading-letter-spacing; }
	h5 { font-size: $font-size-5 * 1.125; letter-spacing: $global-heading-letter-spacing; }
	h6 { font-size: $font-size-6 * 1.125; letter-spacing: $global-heading-letter-spacing; }
}

@include breakpoint( large ) {
	h1 { font-size: $font-size-1 * 1.25; letter-spacing: $global-heading-letter-spacing; }
	h2 { font-size: $font-size-2 * 1.25; letter-spacing: $global-heading-letter-spacing; }
	h3 { font-size: $font-size-3 * 1.25; letter-spacing: $global-heading-letter-spacing; }
	h4 { font-size: $font-size-4 * 1.25; letter-spacing: $global-heading-letter-spacing; }
	h5 { font-size: $font-size-5 * 1.25; letter-spacing: $global-heading-letter-spacing; }
	h6 { font-size: $font-size-6 * 1.25; letter-spacing: $global-heading-letter-spacing; }
}


// Font Styles
.f- {
	&white     { color: $white; }
	&black     { color: $black; }
	&primary   { color: $color-primary; }
	&secondary { color: $color-secondary; }
	&success   { color: $color-success; }
	&info      { color: $color-info; }
	&warning   { color: $color-warning; }
	&error     { color: $color-error; }

	&body    { font-family: $global-body-font-family; }
	&heading { font-family: $global-heading-font-family; }

	&light { font-weight: $global-font-light; }
	&bold  { font-weight: $global-font-bold; }

	&upper { text-transform: uppercase; }
	&lower { text-transform: lowercase; }

	&headline    { font-size: $font-size-headline; }
	&subheadline { font-size: $font-size-subheadline; }
	&small { font-size: $global-font-size * .75; }
	
	&s-1         { font-size: $font-size-1; }
	&s-2         { font-size: $font-size-2; }
	&s-3         { font-size: $font-size-3; }
	&s-4         { font-size: $font-size-4; }
	&s-5         { font-size: $font-size-5; }
	&s-6         { font-size: $font-size-6; }
	&s-7         { font-size: $font-size-7; }
	&s-8         { font-size: $font-size-7; }

	@include breakpoint( medium ) {
		&headline    { font-size: $font-size-headline * 1.125; }
		&subheadline { font-size: $font-size-subheadline * 1.125; }
		&small { font-size: $global-font-size * .8125; }

		&s-1         { font-size: $font-size-1 * 1.125; }
		&s-2         { font-size: $font-size-2 * 1.125; }
		&s-3         { font-size: $font-size-3 * 1.125; }
		&s-4         { font-size: $font-size-4 * 1.125; }
		&s-5         { font-size: $font-size-5 * 1.125; }
		&s-6         { font-size: $font-size-6 * 1.125; }
		&s-7         { font-size: $font-size-7 * 1.125; }
	}

	@include breakpoint( large ) {
		&headline    { font-size: $font-size-headline * 1.25; }
		&subheadline { font-size: $font-size-subheadline * 1.25; }
		&small { font-size: $global-font-size * .875; }

		&s-1         { font-size: $font-size-1 * 1.25; }
		&s-2         { font-size: $font-size-2 * 1.25; }
		&s-3         { font-size: $font-size-3 * 1.25; }
		&s-4         { font-size: $font-size-4 * 1.25; }
		&s-5         { font-size: $font-size-5 * 1.25; }
		&s-6         { font-size: $font-size-6 * 1.25; }
		&s-7         { font-size: $font-size-7 * 1.25; }
	}
}
