/* =======================================
	COLORS
*/
$color-primary:   #430ae0;
$color-secondary: #dd0a50;

$color-success:   #30a451;
$color-info:      #1266bb;
$color-warning:   #e67620;
$color-error:     #d1452d;

$black:           #222;
$white:           #fff;
$light-gray:      #e9e9e9;

/* =======================================
	GLOBALS
*/
$global-border-radius:  0;
$global-border-width:   1px;
$global-font-size:      16px;
$global-font-weight:    400;
$global-font-light:     300;
$global-font-bold:      700;
$global-max-width:      1200px;

$body-color:          $black;
$body-font-family:    'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$body-font-weight:    $global-font-weight;
$body-letter-spacing: 0;
$body-line-height:    1.5;

$heading-color:          $color-primary;
$heading-font-family:    'PT Serif', serif;
$heading-font-weight:    $global-font-weight;
$heading-letter-spacing: 0;
$heading-line-height:    1.5;


/* =======================================
	TYPOGRAPHY
*/
$serif-font-family: georgia, serif;
$code-font-family:  consolas, monaco, monospace;

$font-size-headline:    2rem;
$font-size-subheadline: 1.75rem;

$font-size-1: 1.875rem; // 30px
$font-size-2: 1.625rem; // 26px
$font-size-3: 1.5rem;   // 24px
$font-size-4: 1.375rem; // 22px
$font-size-5: 1.25rem;  // 20px
$font-size-6: 1.125rem; // 18px
$font-size-7: 1rem;     // 16px


/* =======================================
	SPACING
*/
$spacing-xs:   .25em;
$spacing-sm:   .5em;
$spacing-md:   1em;
$spacing-lg:   2em;
$spacing-xl:   3em;
$spacing-xxl:  7em;
$spacing-xxxl: 10em;


/* =======================================
	BREAKPOINTS
*/
$breakpoint-small:  767px; // max-width
$breakpoint-medium: 768px; // min-width
$breakpoint-large:  1200px; // min-width


/* =======================================
	GRID
*/
$grid-columns: 12;
$grid-gutter:  $spacing-md;


/* =======================================
	TIME
*/
$time-superfast: .15s;
$time-fast:      .25s;
$time-normal:    .45s;
$time-slow:      .65s;
$time-superslow: 1s;
